body {
    font-family: "Source Sans 3", sans-serif;
    background-image: linear-gradient(100deg, #3023ae, #eb7f7b);
    color: #333; /* black */
    margin: 0;
    height: 100vh;
    padding: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    color: #FAF9F6;
}

#indieflower {
    font-family: "Indie Flower", cursive;
}

.pacifico-regular {
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #000; /* black */
}

input[type="number"],
select,
input[type="button"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #ff0066; /* hot pink */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    font-size: 18px; /* Bigger font size */
}

input[type="button"]:hover {
    background-color: #cc0044;
}

#result {
    display: none; /* Initially hide the result */
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: white; /* white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; /* black text */
}

.output-text {
    margin-bottom: 10px;
    color: #fff; /* white */
}

.output-value {
    font-weight: bold;
    color: #ff0066; /* hot pink */
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    form {
        max-width: 90%;
    }

    input[type="button"] {
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        h1 {
            font-weight: lighter; /* Make the font lighter */
        }
    
        input[type="button"] {
            font-family: 'Quicksand', sans-serif; /* Apply Quicksand font to the button */
            background-color: #ff0066; /* Hot pink */
            color: #fff; /* White text */
            border: none;
            padding: 15px 30px; /* Increase button height */
            font-size: 20px; /* Increase font size */
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px; /* Adjust margin */
        }
    
        input[type="button"]:hover {
            background-color: #cc0044;
        }
    }
}
